<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Pago confirmado!"}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}

<table style="width:600px" width="600">
    <tr class="email-intro">
        <td>
            <h1>¡El pago de tu pedido fue aprobado con éxito!</h1>
            <p>
                {{var step1}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>{{trans 'Por cualquier consulta tu número de pedido es <span class="no-link order-number">#%increment_id</span>' increment_id=$order.increment_id |raw}}</p>
            <p>{{trans 'Fecha de compra : <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
