<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::metodos_envio_menu" title="Métodos de envío" sortOrder="10">
                    <resource id="Combinatoria_ShippingManager::guias" title="Generar Guias Masivas" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>