<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer_email":"Customer Email",
"var customer_name":"Customer Name",
"var customer_password" : "Customer Password"
"var customer_firstname" : "Customer First Name"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Hola %customer_name," customer_name=$customer_firstname}} {{trans "bienvenido a %store_name." store_name=$store.getFrontendName()}}
    <br/>Tus datos de identificación son:
</p>

<ul style="font-size:18px !important;">
    <li><strong>{{trans "Email:"}}</strong> {{var customer_email}}</li>
    <li><strong>{{trans "Password:"}}</strong> {{var customer_password}}</li>
</ul>
<p>{{trans
    'Podes cambiar tu contraseña por una más fácil de recordar haciendo click <a href="%customer_url">Aqui</a>'

    customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
    |raw}} <br/>
    {{trans 'Desde la opción Mi Cuenta podrás ver tu historial de pedidos y cambiar tus datos.'}}
</p>
<p>{{trans 'Pero no te preocupes, también podrás seguir comprando solo con tu e-mail sin necesidad de recordar tu contraseña.'}}</p>

{{template config_path="design/email/footer_template"}}