<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Backend::catalog_attributes" title="Attributes" translate="title" module="Magento_Backend" sortOrder="40" parent="Magento_Catalog::catalog" resource="Magento_Backend::stores_attributes"/>
        <update id="Magento_Catalog::catalog_attributes_attributes" title="Product Attributes" translate="title" module="Magento_Catalog" sortOrder="30" parent="Magento_Backend::catalog_attributes" action="catalog/product_attribute/" resource="Magento_Catalog::attributes_attributes"/>
        <update id="Magento_Catalog::catalog_attributes_sets" title="Attribute Set" translate="title" module="Magento_Catalog" sortOrder="40" parent="Magento_Backend::catalog_attributes" action="catalog/product_set/" resource="Magento_Catalog::sets"/>

        <update id="Magento_Review::catalog_reviews_ratings_ratings" title="Rating" translate="title" module="Magento_Review" sortOrder="60" parent="Magento_Backend::catalog_attributes" action="review/rating/" resource="Magento_Review::ratings"/>

        <update id="Magento_Backend::system_convert" title="Data Transfer" translate="title" module="Magento_Backend" sortOrder="60" parent="Magento_Catalog::catalog" resource="Magento_Backend::convert"/>

        <update id="Magento_Backend::system_tools" title="Tools" translate="title" module="Magento_Backend" sortOrder="50" parent="Magento_Backend::stores" resource="Magento_Backend::tools"/>
    </menu>
</config>
